<div class='header'>
  <%= form_with url: '/', method: :get do | f | %>
    <%= search_field_tag :search, params[:search], 
                        placeholder: 'Enter an image tag',
                        class: 'input' %>
    <%= button_tag 'Search', class: 'button' %>
  <% end %>
</div>

  <%= render 'images' %>